@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

.contact-information {
  display: grid;
  row-gap: 4px;

  &__label {
    font-size: 14px;
  }

  &__date {
    font-weight: 700;
    color: $color-text-muted;

    @include transition-base(color);

    &:hover {
      color: $color-hover;
    }
  }

  &__date--adress {
    line-height: 140%;
  }
}
