@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

.contact-form {
  display: grid;
  row-gap: 16px;
  height: 376px;
  &__field {
    @include field-base;

    padding: 14.5px 10.9px;
  }

  &__textarea {
    @include field-base;

    padding-left: 10.9px;
    padding-top: 14px;
    height: 144px;
  }

  &__submit {
    margin-top: 16px;
    margin-bottom: 10px;

    @include button-base;
  }
}
