@use '../utils/mixins.scss' as *;

.contact-us {
  @include grid-size;

  &__wrapper {
    @include page-grid;
    @include grid-size;

    @include on-tablet {
      column-gap: 24px;
    }
  }

  &__location {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 3;
    }
  }

  &__form {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 4 / span 3;
      grid-row: 1 / span 2;
    }

    @include on-desktop {
      grid-column: 8 / span 5;
    }
  }

  &__location-title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__information-wrapper {
    display: grid;
    row-gap: 8px;
  }
}
