@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

.categories {
  @include grid-size;

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    text-align: center;

    @include on-tablet {
      @include centered-tablet;
    }

    @include on-desktop {
      @include centered-desktop;
    }
  }

  &__wrapper {
    @include grid-size;
  }

  &__button-all {
    margin-top: -8px;

    @include button-base;

    @include on-tablet {
      @include centered-tablet;
    }

    @include on-desktop {
      @include centered-desktop;
    }
  }
}
