@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.9;

  @include section-background(
    '/src/images/footer/footer-bg-mobile.png',
    '/src/images/footer/footer-bg-tablet.png',
    '/src/images/footer/footer-bg-desktop.png',
    $footer-height-mobile,
    $footer-height-tablet
  );
}
