@use '../utils/mixins.scss' as *;
@use '../utils/variables.scss' as *;

.menu {
  background-color: $color-accent;

  overflow: auto;

  @include on-tablet {
    height: 840px;
  }

  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;

  &__content {
    @include content-padding-inline;

    padding-top: 25px;

    @include on-tablet {
      padding-top: 32px;
    }
  }

  &__bottom {
    margin-top: 40px;
  }

  &__phones {
    display: grid;
    row-gap: 8px;
    margin-top: 32px;
  }

  &__wrapper {
    display: grid;
  }

  &__phone-number {
    &:hover {
      color: $color-hover;
    }
  }

  &__call-to-order {
    padding: 0;
    width: fit-content;

    margin-top: 16px;
    padding-bottom: 7px;
    line-height: 16px;
    border-bottom: 1px solid $color-white;

    font-size: 12px;
    letter-spacing: 2px;
  }
}
