$color-white: #fff;
$color-black: #000;
$color-primary: #161616;
$color-accent: #d12d35;
$color-text-muted: #3e3e3e;
$color-text-form: #7e7e83;
$color-bkg-form: #f8f8fa;
$color-hover: #ae1c23;
$color-active: #eb343d;
$font: Cinzel, serif;
$bp-tablet: 744px;
$bp-desktop: 1260px;
$content-width-tablet: 392px;
$row-gap: 48px;
$footer-height-mobile: 180px;
$footer-height-tablet: 359px;
